html{
    margin: 0;
    background-color: #414a59;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------- LEFT --------- */

#left{
    width: 20%;
    margin: 10px;
}

#left #title{
    height: 40px;
    background-color: #465c85;
    color: white;
}

#left #content{
    padding: 20px;
    background-color: white;
}

ul li{
    list-style: none;
    color: blue;
    font-weight: 600;
}

/* -------- RIGHT --------- */

#right{
    width: 60%;
    margin: 10px;
}

#title-right{
    display: flex;
    margin-bottom: 20px;
    background-color: white;
    padding-left: 20px;
}

#please-say #title{
    height: 40px;
    color: white;
    background-color: #465c85;
}

#please-say #content{
    padding: 20px;
    background-color: white;
}